<div class="box">
    <form [formGroup]="cadastroForm" (ngSubmit)="cadastrarAluno()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="tx-nome">Nome</label>
                <input type="text" class="form-control" formControlName="nome" id="tx-nome">

                <label for="tx-email">Email</label>
                <input type="email" class="form-control" formControlName="email" id="tx-email">

                <label for="tx-tipo">tipo</label>
                <input type="number" class="form-control" formControlName="tipo" id="tx-tipo">

                <label for="tx-idade">idade</label>
                <input type="number" class="form-control" formControlName="idade" id="tx-idade">

                <label for="tx-formacao">Formacao</label>
                <input type="text" class="form-control" formControlName="formacao" id="tx-formacao">

                <label for="tx-senha">Senha</label>
                <input type="password" class="form-control" formControlName="senha" id="tx-senha"
                    placeholder="Password">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">salvar</button>
    </form>
</div>